@{
    ViewBag.Title = "Customer";
}
<style>
    body .modal-open .modal {
        display: flex !important;
        height: 100%;
    }

        body.modal-open .modal .modal-dialog {
            margin: auto;
        }
</style>
<script>
    var table;
    //Test comments for github
    function EditData(customerName, email, mobile, customerId) {
        $("#customerModal").modal('show');
        $("#customerName").val(customerName);
        $("#email").val(email);
        $("#mobile").val(mobile);
        $("#customerId").val(customerId);

    }
    function DeleteData(customerId) {

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            cache: false,
            type: 'POST',
            data: JSON.stringify({ "customerId": customerId }),
            url: "/Master/DeleteCustomers",
            success: function (result) {
                //refreshgrid(result[1].Data);
                refreshgrid(result[1].Data, result[0].Message);
                //ShowNotification('bottom', 'right', result[0].Message);
            },

        });

    }
    function GetColumns() {
        var columns = [];
        var role = '@Session["role"].ToString()';
        if (role.toString() == "Admin") {
            columns = [
                            {
                                data: "customerId",
                                "render": function (data, type, row, meta) {
                                    var a = "";
                                    a = '<a href="#" onclick="EditData(\''
                                    + row.customerName + '\',\''
                                    + row.email + '\',\''
                                    + row.mobile + '\',\''
                                    + row.customerId + '\')">Edit</a> <a href="#"  onclick="DeleteData(\'' + row.customerId
                                    + '\')">Delete</a>';
                                    return a;
                                }
                            },

                                { data: "customerName" },
                                { data: "email" },
                                { data: "mobile" },
            ];
        }
        else {
            columns = [
                 { data: "customerName" },
                                { data: "email" },
                                { data: "mobile" },
            ];
        }
        return columns;
    }
    function refreshgrid(itemlist, message) {

        if (table != undefined && table != null)
            table.destroy();

        table = $('#customergrid').DataTable({
            data: itemlist,
            columns: GetColumns(),
            //buttons: $scope.GetAddButton(),
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "bDestroy": true,
            select: false,
            lengthChange: false,
            "order": [[0, "desc"]],
            //"scroll": "100"
            //scrollY: '65vh',
            //scrollCollapse: true,

        });

        if (message != undefined && message != "" && message != null && message && "undefined")
            ShowNotification('bottom', 'right', message);
    }
    $(document).ready(function () {
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            cache: false,
            type: 'POST',
            url: "/Master/GetAllCustomers",
            success: function (result) {
                refreshgrid(result, null);
            },
            //error: function (data) {
            //    alert("Error retrieving vehicle details");
            //}
        });

    });
    function AddItem() {
        $("#customerId").val("");
        $("#customerName").val("");
        $("#email").val("");
        $("#mobile").val("");
        $("#customerModal").modal('show');

    }
    function SaveItem() {
        var customerId = $("#customerId").val();
        var customerName = $("#customerName").val();
        var email = $("#email").val();
        var mobile = $("#mobile").val();

        if (customerName == null || customerName == undefined || customerName == "") {
            alert("Please enter the customer name");
            return false;
        }
        else {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                cache: false,
                type: 'POST',
                data: JSON.stringify({ "customerId": customerId, "customerName": customerName, "email": email, "mobile": mobile }),
                url: "/Master/SaveCustomers",
                success: function (result) {
                    $("#customerModal").modal('hide');
                    refreshgrid(result[1].Data, result[0].Message);

                },
                error: function (data) {
                    ShowNotification('bottom', 'right', "Error. Contact Administrator");
                }
            });
        }
    }
</script>
<div>
    <a class="navbar-brand" href="#"> Customers </a>
    <button type="submit" class="btn btn-primary pull-right" onclick="AddItem()">Add</button>
</div>


<div class="content" style="margin-top:-30px;">
    <div class="container-fluid">
        <div class="row">
            <div style="width:1089px; overflow: auto;">
                <table id="customergrid" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            @{ var role = System.Web.HttpContext.Current.Session["role"].ToString();}
                            @{ if (role == "Admin")
                             {
                                <th style="width:35%;"> Action</th>
                             }}
                            
                            <th style="width:35%;">Customer</th>
                            <th style="width:30%;">email</th>
                            <th style="width:30%;">Mobile</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="customerModal" class="modal fade">
    <img src="evgcms_loading2.gif" ng-show="loading" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                @*<h4 class="modal-title" id="modellabel">Confirmation</h4>*@

                @*<div class="card-header" data-background-color="purple">
                        <h4 class="title">Edit Profile</h4>
                        <p class="category">Complete your profile</p>
                    </div>*@
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Add/Edit Customers</h4>
                        <p class="category">Complete customer details</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <input id="customerId" type="hidden" class="form-control">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label>Customer Name</label>
                                        <input id="customerName" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label>email</label>
                                        <input id="email" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label>Mobile</label>
                                        <input id="mobile" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>
                            @*<button type="button" class="btn btn-default" data-dismiss="modal" tabindex="3">Close</button>*@
                            @*<button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>*@
                            <button type="submit" class="btn btn-primary pull-right" onclick="SaveItem()">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


