<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../Images/apple-icon.png" />
    <link rel="icon" type="image/png" href="../Images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> Blue Metals</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="../Content/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../Content/demo.css" rel="stylesheet" />

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="../Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <!--     Fonts and icons     -->

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <!--   Core JS Files   -->

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Scripts/material.min.js" type="text/javascript"></script>
    <!--  Charts Plugin -->
    <script src="../Scripts/chartist.min.js"></script>
    <!--  Dynamic Elements plugin -->
    <script src="../Scripts/arrive.min.js"></script>
    <!--  PerfectScrollbar Library -->
    <script src="../Scripts/perfect-scrollbar.jquery.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../Scripts/bootstrap-notify.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="../Scripts/material-dashboard.js?v=1.2.0"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="../Scripts/demo.js"></script>
    <!--Datatables-->
    
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    
    
    <script src="~/Scripts/buttons.flash.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/shortcut.js"></script>
    <script src="../Scripts/WeighmentScripts.js"></script>
    <style>
        li:hover {
            background-color: #9c27b0;
            ;
        }
       
        .form-group.is-focused .form-control {
            outline: none;
            background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
            background-size: 100% 2px, 100% 1px;
            box-shadow: none;
            transition-duration: 0.3s;
            font-size: 20px;
        }
        .form-control, .form-group .form-control {
            border: 0;
            background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
            background-size: 0 2px, 100% 1px;
            background-repeat: no-repeat;
            background-position: center bottom, center calc(100% - 1px);
            background-color: transparent;
            transition: background 0s ease-out;
            float: none;
            box-shadow: none;
            border-radius: 0;
            font-weight: 400;
            font-size: 20PX;
        }
    </style>
<script>
    function LoadCom() {
        $("#id").val();
        $("#port").val();
        $("#buadRate").val();
        $("#parity").val();
        $("#dataBit").val();
        $("#stopBit").val();
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            cache: false,
            type: 'POST',
            url: "/Home/ReadComDetails",
            success: function (result) {
                $("#id").val(result[0].id);
                $("#port").val(result[0].port);
                $("#buadRate").val(result[0].buadRate);
                $("#parity").val(parseInt(result[0].parity));
                $("#dataBit").val(parseInt(result[0].dataBit));
                $("#stopBit").val(parseInt(result[0].stopBit));
            },
            //error: function (data) {
            //    alert("Error retrieving vehicle details");
            //}
        });
    }
    $(document).ready(function () {
        shortcut.add("Ctrl+A", function () {
            printDialogOpen();
        });
        //shortcut.add("Ctrl+1", function () {
        //    printOnDemand();
        //});
        shortcut.add("Ctrl+2", function () {
            ScanGrossWeight();
        });
        shortcut.add("Ctrl+3", function () {
            ScanTareWeight();
        });
	 shortcut.add("Ctrl+4", function () {
            printDiv();
        });
        shortcut.add("Ctrl+5", function () {
            SaveWeighment();
        });
       
    });
   function ShowNotification(from, align, message) {
        color = Math.floor((Math.random() * 4) + 1);

        $.notify({
            icon: "notifications",
            message: message

        }, {
            type: type[color],
            timer: 4000,
            placement: {
                from: from,
                align: align
            }
        });
   }
   function OpenComModal() {
       LoadCom();
       $("#comModal").modal('show');

   }
   function SaveComConfig() {
      var id= $("#id").val();
      var port = $("#port").val();
      var buadRate = $("#buadRate").val();
      var parity = $("#parity").val();
      var dataBit = $("#dataBit").val();
      var stopBit = $("#stopBit").val();
      $.ajax({
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          cache: false,
          type: 'POST',
          data: JSON.stringify({ "id": id, "port": port, "buadRate": buadRate, "parity": parity, "dataBit": dataBit, "stopBit": stopBit}),
          url: "/Home/ConfigureComPort",
          success: function (result) {
              ShowNotification('bottom', 'right', "COM Port configured");
              $("#id").val(result[1].id);
              $("#port").val(result[1].port);
              $("#buadRate").val(result[1].buadRate);
              $("#parity").val(parseInt(result[1].parity));
              $("#dataBit").val(parseInt(result[1].dataBit));
              $("#stopBit").val(parseInt(result[1].stopBit));

          },
          error: function (data) {
              ShowNotification('bottom', 'right', "Error. Contact Administrator");
          }
          
      });
      $("#comModal").modal('hide');
      

   }
$(function(){
    history.pushState({page:1},"title1","#nbb");
    window.onhashchange=function(event){
        window.location.hash="nbb";
    };
});

    //Jimmy Mathew::Billing Module functions::22082018
function printBillingDialogOpen() {
    $("#printModalBilling").modal('show');
}
function printBill() {
    var toName = $("#toName").val();
    var addLine1 = $("#addLine1").val();
    var addLine2 = $("#addLine2").val();
    var addLine3 = $("#addLine3").val();
    var transportMode = $("#transportMode").val();
    var vehicleNoBill = $("#vehicleNoBill").val();
    var placeOfDeliveryBill = $("#placeOfDeliveryBill").val();
    var materialDescription = $("#materialDescription").val();
    var netWeightQty = $("#netWeightQty").val();
    var rateBill = $("#rateBill").val();
    var amountBill = parseInt($("#amountBill").val());
    var cgst = parseInt($("#cgst").val());
    var sgst = parseInt($("#sgst").val());
    var mainTotal = $("#mainTotal").val();
    var totalInWords = $("#totalInWords").val();

    $("#ptoName").html(toName);
    $("#paddLine1").html(addLine1);
    $("#paddLine2").html(addLine2);
    $("#paddLine3").html(addLine3);
    $("#ptransportMode").html(transportMode);
    $("#pvehicleNoBill").html(vehicleNoBill);
    $("#pplaceOfDeliveryBill").html(placeOfDeliveryBill);
    $("#pmaterialDescription").html(materialDescription);
    $("#pnetWeightQty").html(netWeightQty);
    $("#prateBill").html(rateBill);
    $("#pamountBill").html(amountBill);
    $("#pcgst").html(cgst);
    $("#psgst").html(sgst);
    $("#pmainTotal").html(mainTotal);
    $("#ptotalInWords").html(totalInWords);

    var divToPrint = document.getElementById('BillingDivToPrint');
    var newWin = window.open('', 'Print-Window');
    newWin.document.open();
    newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
    newWin.document.close();
    setTimeout(function () { newWin.close(); }, 1000);
    location.reload();
    $("#printModalBilling").modal('hide');
}


</script>
</head>
<body>
    <div class="wrapper" style="top:-59px;">
        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="#" class="simple-text">
                    SMS
                </a>


            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    @{ var role= System.Web.HttpContext.Current.Session["role"].ToString();}
                    <li>
                        <a href="/Weighment/Index">
                            <img src="~/Images/blur_circular.png" />
                            Weighment
                        </a>
                    </li>
                    <li>
                        <a href="/Weighment/History">
                            <img src="~/Images/history.png" />
                            History
                        </a>
                    </li>
                    <li>
                        <a href="/Weighment/EmptyList">
                            <img src="~/Images/cancel.png" />
                            Empty List
                        </a>
                    </li>
                    <li>
                        <a href="/Weighment/Report">
                            <img src="~/Images/assignment.png" />
                            Reports
                        </a>
                    </li>
                  
                    <li>
                        <a href="/Master/Party">
                            <img src="~/Images/local_parking.png" />
                            Parties
                        </a>
                    </li>
                    <li>
                        <a href="/Master/Customer">
                            <img src="~/Images/person.png" />
                            Customers
                            
                        </a>
                    </li>     
                    <li>
                        <a href="/Master/Vehicle">
                            <img src="~/Images/bus.png" />
                            Vehicles
                        </a>
                    </li>
                   
                        @{ if (role == "Admin") {
                          
                    <li>
                        <a href="/Master/Item">
                            <img src="~/Images/giftcard.png" />
                            Items
                            
                        </a>
                    </li>
                              <li>
                        <a href="/Master/User">
                            <img src="~/Images/accounts.png" />
                            Users
                        </a>
                    </li>
                        }
                        }
                </ul>
            </div>
        </div>
        <div class="main-panel" style="overflow: inherit;">
            @RenderBody()
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                        @{ if (role == "Admin") {
                            <li>
                                <a href="#" onclick="OpenComModal()">COM Port</a>
                            </li>
                            <li>
                                <a href="/Weighment/SalesReport">
                                    Sales report
                                </a>
                            </li>
                            <li>
                                <a href="/Weighment/PurchaseReport">
                                    Purchase Report
                                </a>
                            </li>
                             <li>
                                <a href="/Weighment/MaterialReport">
                                    Material Report
                                </a>
                            </li>
                               <li>
                                <a href="/Weighment/CustomerReport">
                                    Customer Report
                                </a>
                            </li>
                        }}
                            <li>
                                <a href="/Home/Logout">Sign out</a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        @{
                            var version = "1.1";
                        }
                        SMS Blue Metals- @version, Developed by Jimmy Mathew
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <div id="comModal" class="modal fade">
        <img src="evgcms_loading2.gif" ng-show="loading" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">COM PORT</h4>
                            <p class="category">Configure the COM Port</p>
                        </div>
                        <div class="card-content">
                            <form>
                                <input id="id" type="hidden" class="form-control">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label>Port</label>
                                            @*<input id="port" type="text" class="form-control">*@
                                            <select id="port" class="form-control">
                                                <option value="COM1">COM1</option>
                                                <option value="COM2">COM2</option>
                                                <option value="COM3">COM3</option>
                                                <option value="COM4">COM4</option>
                                                <option value="COM5">COM5</option>
                                                <option value="COM6">COM6</option>
                                                <option value="COM7">COM7</option>
                                                <option value="COM8">COM8</option>
                                                <option value="COM9">COM9</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label>Buad Rate</label>
                                            @*<input id="buadRate" type="text" class="form-control">*@
                                            <select id="buadRate" class="form-control">
                                                <option value="110">110</option>
                                                <option value="300">300</option>
                                                <option value="600">600</option>
                                                <option value="1200">1200</option>
                                                <option value="2400">2400</option>
                                                <option value="4800">4800</option>
                                                <option value="9600">9600</option>
                                                <option value="14400">14400</option>
                                                <option value="19200">19200</option>
                                                <option value="38400">38400</option>
                                                <option value="57600">57600</option>
                                                <option value="115200">115200</option>
                                                <option value="128000">128000</option>
                                                <option value="256000">256000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label>Parity</label>
                                            <input id="parity" type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label>Data Bit</label>
                                            <input id="dataBit" type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label>Stop Bit</label>
                                            <input id="stopBit" type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                @*<button type="button" class="btn btn-default" data-dismiss="modal" tabindex="3">Close</button>*@
                                @*<button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>*@
                                <button type="submit" class="btn btn-primary pull-right" onclick="SaveComConfig()">Save</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div id="printModal" class="modal fade" style="display: none;">
        <img src="evgcms_loading2.gif" ng-show="loading" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Confirmation</h4>
                            <p class="category">Print Confirmation</p>
                        </div>
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <h3>Do you want to print a receipt? </h3>

                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right" onclick="SaveWeighment()">No</button>
                                <button type="submit" class="btn btn-primary pull-right" onclick="printDiv()">Yes</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='DivIdToPrint' style="display:none;"><br/><br/>
        <center>
            <b>
         SMS BLUE METALS<br />
                Silavattam(Village),Pakkam(PO),Maduranthagam Taluk<br />
                Kanchipuram Dist - 603306<br />
                
            </b>
        </center>
        <br/>
        <table width="800" style="margin-left: 100px;">
            <tr><td>S.No:</td><td><label id="pserialNo"></label></td><td>Vehicle No:</td><td><label id="pvehicleNo"></label></td></tr>
            <tr><td>Date:</td><td><label id="pdate"></label></td><td>Material:</td><td><label id="pmaterial"></label></td></tr>
            <tr><td>Place:</td><td><label id="pplaceOfDelivery"></label></td><td>Customer:</td><td><label id="pcustomerName"></label></td></tr>
            <tr></tr>

        </table>
        ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        <table width="600" style="margin-left: 150px;" >
            <tr><td>Empty Weight:</td><td><label id="ptareWeight"></label></td><td>Gross Weight:</td><td><label id="pgrossWeight"></label></td></tr>
        </table>
        ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        <table width="600" style="margin-left: 150px;"><tr><td><h3>Net Weight:</h3></td><td><h3><label id="pnetWeight"></label></h3></td><td align="right"><label><b>Signature</b></label></td></tr></table>
        @*<label style="margin-left: 700px;"><b>Signature</b></label>*@
    </div>   


    @*Jimmy Mathew::Billing Module Print::22082018*@
    <div id="printModalBilling" class="modal fade" style="display: none;">
        <img src="evgcms_loading2.gif" ng-show="loading" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Confirmation</h4>
                            <p class="category">Print Confirmation</p>
                        </div>
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <h3>Do you want to print the bill? </h3>

                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right" onclick="billSave()">No</button>
                                <button type="submit" class="btn btn-primary pull-right" onclick="printBill()">Yes</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='BillingDivToPrint' style="display:none;">
        <div class="container">

            <table class="table table-bordered">
                <tr>
                    <td rowspan="2" colspan="1" width="30%"><strong>Bill No: <label id="pbillNo"></label></strong></td>

                    <td colspan="2"><div style="padding-left:65%;"><strong>Phone:044-27554786</strong></div></td>
                </tr>
                <tr>
                    <td colspan="2"><div style="padding-left:65%;"><strong>Cell:9382256010</strong></div></td>
                </tr>
                <tr>

                    <td colspan="3">
                        <center>
                            <h4><strong>SMS BLUE METALS</strong></h4>
                            <h5>
                                <strong>
                                    No.17, First Street,Silavattam Village, Madurantakam Taluk<br />
                                    Kanchipuram Dist- 603306<br />
                                    GSTIN: 33ABJFS2238Q1ZP<br />
                                    State: Tamil Nadu, Code-33
                                </strong>
                            </h5>
                        </center>
                    </td>

                </tr>
                <tr>

                    <td colspan="3"><center><strong>Tax Invoice</strong></center></td>

                </tr>
                <tr>
                    <td colspan="3"><strong>To</strong></td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Thiru/Sir: </strong> <label id="ptoName"></label></td>
                </tr>
                <tr>
                    <td colspan="2"><label id="paddLine1"></label>,</td>
                    <td><div style="padding-left:50%;"><strong>Date: </strong><label id="pdateBill"></label></div></td>

                </tr>
                <tr>
                    <td colspan="2"><label id="paddLine2"></label>,</td>
                    <td><div style="padding-left:50%;"><strong>Transport Mode: </strong> <label id="ptransportMode"></label></div></td>
                </tr>
                <tr>
                    <td colspan="2"><label id="paddLine3"></label>.</td>
                    <td><div style="padding-left:50%;"><strong>Vehicle number: </strong> <label id="pvehicleNoBill"></label></div></td>
                </tr>
                <tr>
                    <td colspan="2"><strong>GSTIN: </strong>33ABJFS2238Q1ZP </td>
                    <td><div style="padding-left:50%;"><strong>Place of Delivery: </strong> <label id="pplaceOfDeliveryBill"></label></div></td>
                </tr>
                <tr>
                    <td colspan="3">

                        <table width="100%" class="table table-bordered">
                            <thead>
                            <th align="center">S.No</th>
                            <th align="center">Decription</th>
                            <th align="center">Qty</th>
                            <th align="center">Rate</th>
                            <th align="center">Amount</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="10%" align="center">1</td>
                                    <td width="40%" align="center">

                                        <label id="pmaterialDescription"></label>


                                    </td>
                                    <td width="10%" align="center"><label id="pnetWeightQty"></label></td>
                                    <td width="10%" align="center"><label id="prateBill"></label></td>
                                    <td width="10%" align="center"><label id="pamountBill"></label></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td colspan="2"><div style="padding-left:39%;"><strong>Total:</strong> <label id="pamountBill"></label></div></td>

                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="3">Add: CGST: 2.5%:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align: right"><label id="pcgst"></label></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="3">Add: SGST: 2.5%:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align: right"><label id="psgst"></label></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Total Amount in words:</strong> <span> <label id="totalInWords"></label></span> </td>
                                    <td colspan="3">Total Amount: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align: right"><label id="pmainTotal"></label></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </td>



                </tr>

                <tr>
                    <td colspan="1">
                        <strong>Declaration:</strong> <br />We declare that this invoice shows the actual price of the goods
                        described and that all particulars are true and correct
                    </td>
                    <td rowspan="2" colspan="2">
                        <div style="padding-left:40%;"> For SMS Blue Metals</div>
                        <div style="padding-left:40%; padding-top: 30%;"> Authorized Signatory</div>
                    </td>

                <tr><td>Terms &amp; Conditions
        </td>
                </tr>


        @*</tr>*@
        </table>
    </div>
  </div>
</body>
</html>
