@{
    ViewBag.Title = "Customer Report";
}
<style>
    body .modal-open .modal {
        display: flex !important;
        height: 100%;
    }

        body.modal-open .modal .modal-dialog {
            margin: auto;
        }
</style>
<script>
    var table;
    function GetColumns() {
        var columns = [];
        columns = [

                            { data: "CustomerName" },
                            { data: "Place" },
                            { data: "NumberOfLoad" },
                            { data: "weight" },
                            { data: "total" },

        ];
        return columns;
    }
    function refreshgrid(itemlist, message) {

        if (table != undefined && table != null)
            table.destroy();

        table = $('#usergrid').DataTable({
            data: itemlist,
            columns: GetColumns(),
            //buttons: $scope.GetAddButton(),
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };
                var AmountTotal = api
                    .column(4, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                var WeightTotal = api
                    .column(3, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
		var LoadTotal = api
                    .column(2, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Update footer
                //alert('Weight' + pageTotal + ' ( Total Weight' + total + ' total)');

                var totalAmountLabel = document.getElementById('totalAmountLabel');
                totalAmountLabel.innerHTML = AmountTotal;
                var totalWeightLabel = document.getElementById('totalWeightLabel');
                totalWeightLabel.innerHTML = WeightTotal;
		var LoadTotalLabel= document.getElementById('LoadTotalLabel');
                LoadTotalLabel.innerHTML = LoadTotal ;

                //$(api.column(14).footer()).html(
                //    'Weight' + pageTotal + ' ( Total Weight' + total + ' total)'
                //);
            },
            "bDestroy": true,
            select: false,
            lengthChange: false,
            //"scroll": "100"
            //scrollY: '65vh',
            //scrollCollapse: true,

        });

        if (message != undefined && message != "" && message != null && message && "undefined")
            ShowNotification('bottom', 'right', message);
    }
    $(document).ready(function () {
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            cache: false,
            type: 'POST',
            url: "/Weighment/GetCustomerReportEmpty",
            success: function (result) {
                refreshgrid(result, null);
            },
            //error: function (data) {
            //    alert("Error retrieving vehicle details");
            //}
        });

    });
    function GetCustomerReport() {
        var weighmentType = $("#weighmentType").val();
        var fromDate = $("#fromDate").val();
        var fromDateStr = "";
        fromDate = new Date(fromDate);
        var fromDay = fromDate.getDate();
        var fromMonth = fromDate.getMonth() + 1;
        var fromYear = fromDate.getFullYear();
        fromDateStr = fromYear + '-' + fromMonth + '-' + fromDay;
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ "weighmentType": weighmentType,"fromDate": fromDateStr }),
            cache: false,
            type: 'POST',
            url: "/Weighment/GetCustomerReport",
            success: function (result) {
                refreshgrid(result, null);
            },
            //error: function (data) {
            //    alert("Error retrieving vehicle details");
            //}
        });
    }
</script>
<div>
    <a class="navbar-brand" href="#"> Customer Report </a>
</div>
<div class="col-md-12"></div>
<div class="col-md-3">
    <div class="form-group label-floating">
        <label>From</label>
        <input id="fromDate" type="datetime-local" class="form-control" value="2018-01-01T00:00:00">
    </div>
</div>
<div class="col-md-2" style="margin-left: 260px;">

    <div class="form-group label-floating">
        <label>Type</label>
        @*<input id="toTime" type="text" class="form-control">*@
        <select id="weighmentType" class="form-control" onchange="GetCustomerReport()">
            <option value="Purchase">Purchase</option>
            <option value="Sales">Sales</option>

        </select>
    </div>
</div>
<div class="col-md-2">

    <div class="card card-stats">
        <div class="card-content">
            Total weight:<br />
            <span id="totalWeightLabel">0</span><br />
            Total Amount:<br />
            <span id="totalAmountLabel">0</span><br/>
		Total Load:<br />
            <span id="LoadTotalLabel">0</span>
		
        </div>

    </div>
</div>
<div class="content" style="margin-top:-30px;">
    <div class="container-fluid">
        <div class="row">
            <div style="width:1089px; overflow: auto;">
                <table id="usergrid" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th style="width:35%;">Customer Name</th>
                            <th style="width:35%;">Place</th>
                            <th style="width:35%;">Number of Loads</th>
                            <th style="width:35%;">Weight</th>
                            <th style="width:35%;">Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>




